
body {
    font-family: system-ui, sans-serif;
    background-color: #f4f4f8;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.board { 
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(10, 32px);
    padding: 10px;
    border: 1.25px solid #ccc;
    background-color: #fff;
    margin: 10px;
    width: 320px;
    height: 320px;
    align-items: center;
    align-content: center;
    place-self: center;
    
  } 
.cell {
    width: 32px;
    height: 32px;
    background-color: #e0e0e0;
    border-color: black;
    cursor: pointer;
    border: 2px; 
    border-color: white;
    border-radius: 30px;
  }
.ship{
    background-color: rgb(20, 20, 72);
    border: 1px white;
  }
.hit {
    background-color: red;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.miss {
    background-color: #858585;
  }
  .draggable-ship{
    background-color: lightblue;
    margin-bottom: 8px;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px, black;
  }
  
  .selected{
    background-color: red;
  }