
body {
    font-family: system-ui, sans-serif;
    background-color: #f4f4f8;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.board { 
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(10, 32px);
    padding: 10px;
    border: 1.25px solid #ccc;
    background-color: #fff;
    margin: 20px;
  } 
.cell {
    width: 32px;
    height: 32px;
    background-color: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
  }
.ship{
    background-color: blue;
  }
.hit {
    background-color: red;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.miss {
    background-color: #858585;
  }